main>article {
    min-height: auto;
}

body {
    overflow-x: hidden;
    padding: 0 2em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}


#logo-header {
    width: 50%;
}

#container-adozione {
    width: 100vw;
}

#impegno {
    border-radius: 0px;
    margin: 2em -2em;
    flex-direction: column;
    align-items: center;
}

#impegno h2 {
    margin-bottom: 1em;
    font-size: 1.5em;
}

#impegno p {
    font-size: 1em;
}

#impegno .linesecond {
    width: 100%;
}

#impegno>div {
    margin-top: 0;
    width: 100%;
}

#search-container {
    flex-direction: column;
}

#search-form {
    flex-direction: column;
}

#search-input {
    width: 80%;
}

.animali {
    gap: 3em
}

#statistiche-card {
    flex-direction: column;
}

#statistiche-card li {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.txt-img {
    flex-direction: column;
    margin-bottom: 1em;
    text-align: center;
}

.txt-img p {
    width: 100%;
}

.txt-img img {
    width: 100%;
}

#statistiche-card img {
    width: 30%;
}

#left-panel {
    display: none;
}

#contenuto {
    width: 100%;
}

.container-adozione {
    padding: 2em 2em;
}

tbody tr {  
    margin-bottom: 1.5em;
}

tbody th, tbody td {
    display: block;
    text-align: left;
    padding: 0.5em 0;
    border: none;
}
    
table tbody th {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--grigio);
}

tbody tr:last-child th {
    border-bottom: 1px solid var(--grigio);
}

tbody tr td:last-child {
    border-bottom: none;
}

#adozione {
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

#linesecond {
    margin: 1em auto;
}

#adozione .card {
    width: 80%;
    margin: 0 auto;
}

.card ol {
    padding-left: 1em;
}

#animale-main {
    display: unset;
}

.img-cutter {
    margin: 2em 0;
    width: 100%;
}

#animale-name {
    text-align: center;
}

#description {
    margin-bottom: 2em;
}

#animale-main aside {
    margin-left: 0;
    position: static;
}

#animale-main aside button {
    margin-top: 1em;
}


#txt-form {
    flex-direction: column;
    gap: 2em;
}

#error-login {
    margin-top: 2em;
}

#txt-form img {
    width: 100%;
}

a#pulsante-torna-su {
    right: 1.5em;
    bottom: 1.5em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5em;
}

footer li {
    margin-bottom: 0.8em;
}

footer #disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

/* 
Linearizzazione di Aaron Gustafson
*/

/* al momento non stiamo usando tfoot, ma ne dubbio lo lascio */
#tabella-contatti thead,
#tabella-contatti tfoot {
    display: none;
}

#tabella-contatti tr,
#tabella-contatti th,
#tabella-contatti td {
    display: block;
    padding: 0;
    white-space: normal;
}

#tabella-contatti th[data-title]:before,
#tabella-contatti td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
}

/* 731px è il punto di rottura esatto per la navbar */
@media (max-width:731px) {
    #container-menu h1 {
        margin-right: 0;
        margin-left: .5em;
    }

    #menu {
        --height: 50vh;
        text-align: center;

        z-index: 1;
        position: fixed;
        /* top: calc(50% - calc(var(--height) / 2)); */
        top: 50%;
        left: 100%;
        padding-block: 1.5em;
        flex-direction: column;
        width: 25vw;
        /* min-height: var(--height); */
        height: auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transform-origin: center;
        border: 2px solid var(--verdino);
        justify-content: center;
        transform: translateY(-50%);
        transition: transform .2s ease-out;
    }

    #menu.aperto {
        transform: translateY(-50%) translateX(-100%);
    }

    #hamburger {
        display: block;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        border: 2px solid var(--verdino);
        border-right: 2px solid var(--secondary-bg);
        background-color: var(--secondary-bg);
        position: absolute;
        top: 50%;
        right: 100%;
        width: 3.8em;
        height: 3.8em;
        transform: translateY(-50%);
    }

    #hamburger:focus {
        outline: 3px solid var(--arancione);
    }

    /* Pseudo-elemento per la maschera dell'icona */
    #hamburger::before {
        content: '';
        position: absolute;
        inset: 0;
        /* riempie tutto l'elemento */
        background-color: var(--primary-bg);
        /* colore dell'icona */

        mask: url("../images/png/menu.png") no-repeat center;
        mask-size: contain;

        /* non interferisce con click */
        pointer-events: none;
    }

    #menu ul {
        flex-direction: column;
        gap: 1.5em;
        font-size: 1.2em;
        align-items: center;
        justify-content: center;
    }
}

@media (prefers-reduced-motion: reduce) {
    #menu {
        transition: none;
    }
}