*{
   padding: 0em !important;
   margin: 0em !important;
   background: none !important;
   color: black !important;
}

main>article{
   min-height: auto;
}

html, body{
   font-size: 11pt;
   font-family: 'Times New Roman', Times, serif;
   background: none;
}

header{
   display: none;
}

footer{
   display: none;
}

p, ol, ul {
   font-size: 11pt !important;
}

a.pulsante-torna-su{
   display: none;
}

hr {
   display: none;
}

h1 {
   font-size: 18pt;
   margin: 0;
   padding: 0;
}

h2 {
   font-size: 16pt;
   margin: 0;
   padding: 0;
}

h3 {
   font-size: 14pt;
   margin: 0;
   padding: 0;
}

#menu {
   display: none;
}

/* 
Gestione immagini e contenuti print-only e screen only
*/

.screen-only{
   display: none;
}

.print-only{
   display: block;
}

img.print-only{
   border: none;
}

.txt-img {
   margin-bottom: 0.5cm;
   flex-direction: column;
   text-align: center;
   gap: 0cm;
}


.txt-img p{
   width: 100%;
}


#adozione {
   display: flex;
   flex-direction: column;
   gap: 0cm
}

#adozione .card {
   width: 100%;
   break-inside: avoid;
   -webkit-break-inside: avoid;
}

#statistiche {
   margin-bottom: 4cm;
}

#statistiche-card li{
   display: flex;
   flex-direction: column;
   align-items: center;
}

#statistiche-card img{
   width: 50%;
}

.stat {
   font-size: 40px;
}

.animale-card {
   border: 1px solid black;
   page-break-inside: avoid;
   break-inside: avoid;
}

.animale-card img {
   height: 150px;
}

.animali {
   gap: 2em;
   break-before: avoid;
   page-break-before: avoid;
}

.pagination { 
   display: none;
}

#search-form {
   display: none;
}

#animale-main {
   display: unset;
}

#description {
   break-before: always;
   page-break-before: always;
}

#animale-main aside {
   margin: 1cm 0 0 0;
   border: 1px solid black;
}

#animale-main aside button {
   margin-top: 1cm;
   border: 1px solid black;
}

#impegno {
   display: unset;
   text-align: center;
}

#impegno > div {
   width: 100%;

}


#impegno ul {
   display: inline-block;
}



#impegno li {
   width: fit-content;
}
